<h1>Index</h1>
<p>Find me in app/views/pages/index.html.erb</p>

<%= react_component 'Main' %>


<ul class="container">
  <li class="item">1</li>
  <li class="item">2</li>
  <li class="item">3</li>
  <li class="item">4</li>
  <li class="item">5</li>
  <li class="item">6</li>
</ul>
